@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/Barlow-Bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/Barlow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/Barlow-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoLight';
  src: url('assets/fonts/LatoLight/LatoLight.woff2') format('woff2'),
    url('assets/fonts/LatoLight/LatoLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('assets/fonts/LatoSemibold/LatoSemibold.woff2') format('woff2'),
    url('assets/fonts/LatoSemibold/LatoSemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('assets/fonts/Lato-Italic/Lato-Italic.woff2') format('woff2'),
    url('assets/fonts/Lato-Italic/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('assets/fonts/Lato-Black/Lato-Black.woff2') format('woff2'),
    url('assets/fonts/Lato-Black/Lato-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'Anton-Regular';
    src: url('assets/fonts/Anton-Regular/Anton-Regular.eot');
    src: url('assets/fonts/Anton-Regular/Anton-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Anton-Regular/Anton-Regular.woff2') format('woff2'),
        url('assets/fonts/Anton-Regular/Anton-Regular.woff') format('woff'),
        url('assets/fonts/Anton-Regular/Anton-Regular.ttf') format('truetype'),
        url('assets/fonts/Anton-Regular/Anton-Regular.svg#Anton-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GothamNarrow-Black';
    src: url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.eot');
    src: url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.woff') format('woff'),
        url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.ttf') format('truetype'),
        url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.svg#GothamNarrow-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamNarrow-Bold';
    src: url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.eot');
    src: url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff') format('woff'),
        url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.ttf') format('truetype'),
        url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GothamNarrow-Medium';
    src: url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.eot');
    src: url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.woff') format('woff'),
        url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.ttf') format('truetype'),
        url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}









*,*:focus,.btn,.btn:focus {
  outline: 0!important;
  text-decoration: none
}
a,button,input {
  outline: 0;
  border: 0;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a,a:hover,a:focus,button:hover,button:focus {
  text-decoration: none;
  outline: 0;
}
u{
  text-decoration: underline;
}
body {
  background-color: #fff;
  color: #000;
  font-size: 24px;
  line-height: 1.3;
  font-family: 'LatoRegular';
  background: url(assets/images/body-bg.jpg);
}
img {
  max-width: 100%;
  height: auto;
}
.ulc {
  margin: 0;
  padding: 0;
  list-style: none;
}
.overlay-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.container {
  max-width: 1140px;
  width: 100%;
}
.hide-md {
  display: block!important
}
.show-md {
  display: none!important
}

.hide-sm {
  display: block!important
}
.show-sm {
  display: none!important
}
.hide-xs {
  display: block!important
}
.show-xs {
  display: none!important
}
p { margin: 0; margin-bottom: 30px; line-height: 1.3;}
a { word-wrap: break-word } 
strong { font-weight:normal }
em{
  font-family: 'Lato-Italic';
}

span.fl-txt-line-bg {
    font-family: 'LatoBold';
    display: inline-block;
    vertical-align: baseline;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
    margin-right: -6px;
    margin-left: -6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 7px;
    color: #000;
}
.bs-text-module{

}

.plr-30 {
  padding-left: 30px!important;
  padding-right: 30px!important
}
.plr-20 {
  padding-left: 20px!important;
  padding-right: 20px!important
}
.plr-10 {
  padding-left: 10px!important;
  padding-right: 10px!important
}
.plr-15 {
  padding-left: 15px!important;
  padding-right: 15px!important
}
.plr-5{
  padding-left: 5px!important;
  padding-right: 5px!important
}

.fl-page-bdy-controller{
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

h1 {
  font-size: 71px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 48px;
}
h4 {
  font-size: 37px;
}
h5 {
  font-size: 30px;
}
h6 {
  font-size: 24px;
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.2;
  font-family: 'GothamNarrow-Bold';
} 

@media(max-width: 1199px){
    .hide-md{
      display: none!important;
    }
    .show-md{
      display: block!important;
    }
    h1{
      font-size: 65px;
    }
    h2{
      font-size: 47px;
    }
    h3 {
      font-size: 45px;
    }
    h4 {
      font-size: 35px;
    }
    h5 {
      font-size: 28px;
    } 
    p br{
      display: none;
    }
}
@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    h1{
      font-size: 60px;
    }
    h2{
      font-size: 44px;
    }
    h3 {
      font-size: 42px;
    }
    h4 {
      font-size: 32px;
    }
    h5 {
      font-size: 25px;
    }
    p br{
        display: none;
    }
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    body {
        font-size: 20px;
    }
    p{
       margin-bottom: 20px;
    }
    h1{
      font-size: 55px;
    }
    h2{
      font-size: 40px;
    }
    h3 {
      font-size: 38px;
    }
    h4 {
      font-size: 30px;
    }
    h5 {
      font-size: 22px;
    }

}
