@font-face {
  font-family: 'Barlow-Bold';
  src: url('assets/fonts/Barlow-Bold/barlow-bold.woff2') format('woff2'),
    url('assets/fonts/Barlow-Bold/barlow-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow-ExtraBold';
  src: url('assets/fonts/Barlow-ExtraBold/barlow-extrabold.woff2') format('woff2'),
    url('assets/fonts/Barlow-ExtraBold/barlow-extrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoRegular';
  src: url('assets/fonts/LatoRegular/LatoRegular.woff2') format('woff2'),
    url('assets/fonts/LatoRegular/LatoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoLight';
  src: url('assets/fonts/LatoLight/LatoLight.woff2') format('woff2'),
    url('assets/fonts/LatoLight/LatoLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'LatoBold';
  src: url('assets/fonts/LatoBold/LatoBold.woff2') format('woff2'),
    url('assets/fonts/LatoBold/LatoBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LatoSemibold';
  src: url('assets/fonts/LatoSemibold/LatoSemibold.woff2') format('woff2'),
    url('assets/fonts/LatoSemibold/LatoSemibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('assets/fonts/Lato-Italic/Lato-Italic.woff2') format('woff2'),
    url('assets/fonts/Lato-Italic/Lato-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lato-Black';
  src: url('assets/fonts/Lato-Black/Lato-Black.woff2') format('woff2'),
    url('assets/fonts/Lato-Black/Lato-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
    font-family: 'Anton-Regular';
    src: url('assets/fonts/Anton-Regular/Anton-Regular.woff2') format('woff2'),
        url('assets/fonts/Anton-Regular/Anton-Regular.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GothamNarrow-Black';
    src: url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Black/GothamNarrow-Black.woff') format('woff'),
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamNarrow-Bold';
    src: url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Bold/GothamNarrow-Bold.woff') format('woff'),
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GothamNarrow-Medium';
    src: url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.woff2') format('woff2'),
        url('assets/fonts/GothamNarrow-Medium/GothamNarrow-Medium.woff') format('woff'),
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: 'Montserrat-Light';
  src: url('assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
    url('assets/fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
    url('assets/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


